<div style="padding-left:100px; padding-right:100px">
    <div class="post border-bottom">
        <h4> Review Japan</h4>
        <div class="bg"></div>
        <p>Like      Dislike</p>
      </div>
      
      <div class="post border-bottom">
        <h4> Review Japan</h4>
        <div class="bg"></div>
      </div>
      
      <div class="post border-bottom">
        <h4> Review Japan</h4>
        <div class="bg"></div>
        
      </div>
</div>
