// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.images_post{
  height: 300px;
  width: 100%;
  text-align: center;

}
.name_post{
  text-align: left;

}

.avatar{
  heigh:50px;
  width:50px;
}